@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
  margin: 0;
  /* padding: 0;
  box-sizing: border-box; */
}


/* ====================Navbar=================== */


.navbar {
  background-color: #095256;
  padding-right: 20px;
  padding-left: 20px;
  height: 9vh;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-link {
  color: white;
  font-weight: 200;
  font-size: 13px;

  font-family: "Poppins", sans-serif;


}

.active {
  color: white !important;
  font-weight: 500;
}

.nav-link:hover {
  color: #67b0b4
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  margin: -6px;
  font-weight: 700;
  font-size: 29px;
}

.navbar-logo {
  color: white;
}

.navbar-logo:hover {
  color: #a2d3d5
}

/* .navbar-logo-name {
  padding-left: 1rem;
} */


.navbar-brand .active {
  color: white;
}

.navbar-brand:hover {
  color: #b3d9dc;
  transition-delay: 200ms;
}


/* ========================footer========================== */
.footer-support {
  display: flex;
  flex-direction: column;
}



.footer {
  background-color: #164d4e;
  display: flex;
  justify-content: space-around;
  padding: 6rem;
  height: 40vh;

}

.footer-heading {
  color: white;
  padding-bottom: 15px;
}

.footer-link {
  color: white;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  padding: 2px 0;
}

.footer-icon {
  color: white;
  font-size: 20px;
  font-weight: 100;
  padding-right: 20px;
}

@media only screen and (max-width: 430px) {
  .footer {
    padding: 50px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
  }

  .footer-support {
    padding-right: 30px;
  }

  .footer-get-in-touch {
    padding-right: 30px;
  }


}

.navbar-collapse {
  background-color: #0c565af8;
  padding: 15px;

}

/* ============Admin Menu================ */
.list-group-item.active {
  background-color: #618f92;
  border-color: #8aafb1;
}

/* =========================product card====================== */
.card {
  margin: 30px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-card-image {
  height: 250px;

}