.div1 {
    grid-area: image;
    background: url('../../images/userDashboard.jpg');
    background-size: cover;
    /* border: 1px solid black; */
    border-right: 5px solid rgba(66, 156, 147, 0.362);


}

.image {
    height: 10px;
    width: 100px;
}

.border {
    border: 1px solid black;
    height: 80vh;
    width: px;
    margin-top: 40px;
    margin-left: 40px;

}

.div2 {
    grid-area: form;
    /* background-color: aqua; */
}

.div3 {
    grid-area: info;
    /* background-color: aquamarine; */
}

.container {
    display: grid;
    grid-template-areas:
        'image form form form'
        'image form form form'
        'image info info info';
    gap: 20px;
    height: 95vh;
}