@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.heading {
    position: absolute;
    top: 19rem;
    left: 30rem;
    font-family: "Dancing Script", cursive;
    font-size: 52px;
    color: #053437;
}

.first_div {
    background: url("../../images/whiteroom1.jpg");
    height: 100vh;
    background-size: cover;
    padding-top: 70px;
}

.first_btn {
    position: absolute;
    top: 26rem;
    left: 44rem;
    background-color: #016a7031;
    border: 3px solid #016A70;
    border-radius: 44px;
    padding: 12px;
    width: 130px;
    color: #237474;
    font-family: "Poppins", sans-serif;
}

.first_btn:hover {
    background-color: #016A70;
    color: white;
    transition-delay: 100ms;
}


.row {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;

}